---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---
<BaseLayout title="Support TWGO.net">
  <section id="donation-page">
<h2>支持台灣圍棋網</h2>
<p>您的支持有助於我們維護和改進台灣圍棋網。請考慮透過 Ko-fi 捐款：</p>
    <div class="ko-fi-embed-container">
      <iframe id='kofiframe' src='https://ko-fi.com/twgonet/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='twgonet'></iframe>
    </div>
<p>感謝您的慷慨！</p>
    <div class="centered-button-container" style="margin-top: 30px;">
<a href="https://www.twgo.net/twgo_setup.exe" class="cta-button">下載</a>
    </div>
  </section>
</BaseLayout>
