---
// src/pages/index.astro

import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---
<BaseLayout title="台灣圍棋網 - 首頁">
  <!-- Introduction Section -->
  <section id="introduction">
    <h2>台灣圍棋網</h2>
    <p>台灣圍棋網提供棋友下棋、觀戰、棋譜、棋訊，教學、研究、比賽、社群、棋力鑑定等服務。</p>
    <p class="red-text">有別於一般下棋網站，台灣圍棋網是集下棋、學棋、教棋、社群於一體之圍棋網。</p>
    <p>圍棋工作者不再受限於資本、設備、場地，可以在家中跨社區服務廣大棋友。</p>
    <p>棋友不再受限於時間、距離，可以在網上選擇老師與課程，省時、省力，輕鬆愉快在家學圍棋。</p>
    <h3>宗旨</h3>
    <ul>
      <li>向下紮根</li>
      <li>普及圍棋</li>
      <li>提高水平</li>
      <li>增長智慧</li>
    </ul>
<div class="centered-button-container">
  <a href="/donate" class="cta-button">下載客戶端軟體</a>
</div>
  </section>
</BaseLayout>
