---
// src/components/ValueAddedAccount.astro
---
<section class="value-added-account">
  <h1>加值帳號 (Value Added Account)</h1>
  <p>加值帳號支持台灣圍棋網永續經營，擁有全部使用功能，並且享有系統資源優先分配權。</p>

  <h2>台灣地區</h2>
  <p>年費: NT1500</p>
  <p>郵政劃撥：</p>
  <ul>
    <li>戶名：天元科技有限公司</li>
    <li>帳號：19185022</li>
  </ul>
  <p>請在劃撥單通訊欄寫上您的匿名（登入時之匿名，英文請注意大小寫）。</p>

  <h2>網銀轉帳或ATM匯款</h2>
  <ul>
    <li>銀行名稱：花蓮二信</li>
    <li>銀行代號：216</li>
    <li>帳號：15000400030746</li>
  </ul>
  <p>匯款之後，請將您的匯款日、帳號末4碼、金額及要設定的匿名，電0933997392，我們將盡快幫您開啟。</p>

  <h2>國外</h2>
  <p>請使用 PayPal 付款至 <strong>hcysam53@gmail.com</strong>，金額為 USD 50，並寫上您登入的匿名。</p>
</section>