---
// src/layouts/BaseLayout.astro
import Header from '../components/Header.astro'; // Ensure this import is correct
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="台灣圍棋網 - {title}" />
  <title>{title}</title>
</head>
<body>
  <Header /> <!-- Ensure this is included -->
  <main>
    <slot />
  </main>
  <Footer />
  <div id="minnit-chat-widget-container">
    <script src="https://minnit.chat/js/embed.js?c=1740011833" defer></script><span style="display: none;" class="minnit-chat-sembed" data-chatname="https://organizations.minnit.chat/768973059429039/Main?embed" data-style="width:90%; height:500px; max-height:90vh;">Chat</span><p class="powered-by-minnit"><a href="https://minnit.chat" target="_blank">Free embeddable chatroom powered by Minnit Chat</a></p>
  </div>
</body>
</html>
